body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../img/bg.jpg') rgba(219, 207, 219, 0.667);
    background-size:cover;
    background-repeat:repeat-y;
}

div.main{
    max-width: 980px;
    margin: 100px auto;
}

div.leftSide {
    width: 35%;
    height: 550px;
    float: left;
    background-image: url('../img/lady-face.jpg');
    background-size: cover;
}

div.rightSide {
    width: 65%;
    height: 550px;
    float:right;
    background-image: url('../img/fulls/02.jpg');
    background-size: cover;
}

div.rightSide div {
    margin:100px 80px;
}

div.rightSide h1 {
    font-weight: bolder;
    font-size: 2.8rem;
    color:#fff;
}

div.rightSide hr {
    width:15%;
    color: white;
    float:left;
}

div.rightSide p {
    clear: both;
    margin: 70px auto 30px;
    color:#fff;
    font-size: 1.1rem;
    font-weight: 100;
    line-height: 1.7rem;
}

div.rightSide p a {
    color:#fff;
}

div.clear {
    clear:both;
}

.special_button {
    height:64px;
    width: 64px;
    display:inline-block;
    background-color: #fff;
    background-repeat: no-repeat;
    
    border-radius:100%
}

.main_2{
    max-width: 980px;
    margin: 100px auto 0;
    height: 650px;
    background-image: url('../img/pic02-2.jpg');
    background-size: cover;
}

.content {
    width: 60%;
    float: right;
    margin-right: 80px;
    margin-top: 180px;
    line-height: 2.1rem;
    color:#fff;
}

.content hr {
    width:15%;
    color: white;
    float: left;
    border: 0;
    border-top: 1px solid #fff;
    margin-bottom: 15px;
}

.content p {
    clear: both;
}
